import("mclust","factoextra","ggplot2",
       "dlnm","dplyr","splines","mvmeta","lubridate","qgcomp","fastDummies","stringr")
importFrom("stats", "as.formula", "binomial", "lm", "quantile", "sd")
export(qgdlnm)
